.navbarCont{
    background-color: #222831;
    padding: 15px 25px;
    border-bottom: 4px solid #2a2d2d;
}

.navUl li a{
    font-size: 20px;
}

.heroSection{
    background-color: #222831;
    border-bottom: 2px solid #2a2d2d;
}
.heroContent{
    background-image: url('./assests/Vector 187.png');
    background-position: start;
    background-size: contain;
    background-repeat: no-repeat;
}

.heroContent h1{
    font-size: 76px;
    color: white;
    font-weight: bolder;
}

.heroContent h1 span{
    color: #00ADB5;
}

.heroBtn1{
    width: 136px;
    height: 47px;
    color: white;
    background-color: #00ADB5;
    border-radius: 120px;
    border: none;
    text-shadow: 3px 2px 3px black;
    margin:0px 20px;
}
.heroBtn2{
    width: 166px;
    height: 57px;
    color: white;
    background-color: #2a2d2d;
    border-radius: 120px;
    border: none;
    text-shadow: 3px 2px 3px black;

}

.heroImg{
    background-image: url('./assests/doodles mixed round.png');
    background-position: center center;
    background-size: cover;
}

.aboutSec{
    background-color: #222831;
    border-bottom: 3px solid #2a2d2d;
    border-bottom: 3px solid #2a2d2d;
}

.aboutSec h1{
    font-size: 64px;
    color: white;
    font-weight: bold;
}

.aboutSec span{
    color: #00ADB5;
} 

.aboutSec p{
    color: #eeeeee;
}

.aboutImg{
    background-image: url('./assests/Union.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.contactSec{
    background-color: #222831;
    padding:  50px 0px;
}

.contactContent h1{
    color: white;
    font-weight: bold;
    font-size: 64px;
}

.contactContent span{
    color: #00ADB5;
}

/* form started */

input , textarea , select{
    background-color: #393E46 !important;
    color: #393E46;
    outline: none;
    border: none;
}

input::placeholder{
    color: white;
}

/* form ended */

footer{
    background-color: #222831;
    border-top: 3px solid #2a2d2d;
}

.items a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 8px;
    padding-left: 8px;
}

@media (min-width : 1460px){
    .heroContent{
        padding-top: 100px;
    }

    .heroSection{
        width: 100%;
        height: 89vh;
    }

    .heroContent h1{
        padding-left: 20px;
        font-size: 96px;
    }
}